<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for('static',filename='fairy.css') }}" rel="stylesheet"/>
	{% block head %}{% endblock %}
</head>
<body>
	<header></header>
	{% block body %}{% endblock %}
	<footer>Alexandra LI COMBEAU LONGUET<br/>Image de fond: https://pixabay.com/</a><br/>Images style "parchemin": DAS</footer>
</body>
</html>